[Unit]
Description=Sausage Store Backend Service
After=syslog.target

[Service]
Type=simple
WorkingDirectory=/home/jarservice/
ExecStart=/usr/bin/java -jar /home/jarservice/sausage-store.jar \
--server.port=8888 \
--spring.datasource.url='jdbc:postgresql://$PSQL_HOST:$PSQL_PORT/$PSQL_DB' \
--spring.datasource.username=$PSQL_USER \
--spring.datasource.password=$PSQL_PASSWORD \
--spring.data.mongodb.uri='mongodb://$MONGO_USER:$MONGO_PASSWORD@$MONGO_HOST:27018/$MONGO_DATABASE?tls=true&replicaSet=rs01'
User=jarservice
Restart=always
RestartSec=5s
StartLimitBurst=5
Environment="SPRING_FLYWAY_ENABLED=false"
Environment="REPORT_PATH=/var/www-data/htdocs"
Environment="LOG_PATH=/var/jarservice/"
#Environment=REPORT_PATH=/log/reports
#Environment=LOG_PATH=/log
#StandardOutput=file:/log/out.log
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
