[Unit]
Description=Sausage Store Frontend Service
After=syslog.target

[Service]
WorkingDirectory=/var/www-data/
ExecStart=http-server ./dist/frontend/ -p 443 --proxy http://localhost:8888
User=front-user
Type=simple
RestartSec=5s
StartLimitBurst=5
Environment="REPORT_PATH=/var/www-data/htdocs"
Environment="LOG_PATH=/var/jarservice/"
StandardOutput=append:/logs/out.log
StandardError=append:/logs/out.log
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
